.services{
  width: 100%;
  align-items: center;
  padding-bottom: 4rem;

}
.services .icon-box {
  padding: 20px;
  position: relative;
  overflow: hidden;
  align-items: center;
  margin: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  text-align: center;



}

.services .icon-box:hover {
  box-shadow: 10px 10px 10px 10px rgba(37, 37, 37, 0.1);

}


.services .title  a {
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
  font-weight: bolder;
}

.services .section-title  {
  color: #111;
text-align: center;
padding-bottom: 2rem;
margin: auto;
width: 100%;
font-weight: bolder;

}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .box-red {
  background-color: #FF7F50;
  color: white;

}
.services .box-blue {
  background-color: #1E90FF;
  color: white;
}
.services .box-green {
  background-color: #66CDAA;
  color: white;
}

/*about style*/

.about-content{
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  align-items: center;
  width: 100%;
}
h1{
  font-weight: bolder;
  font-family: sans-serif;

}
.aboutus-image{
  padding-bottom: 80px;
  padding-top: 50px;
  width: 100%;
}
/*footer*/

#footer {
  background: dimgray;
  color: #fff;
  font-size: 14px;
  width: 100%;
}
#footer .footer-top {
  background: #0c1817;
  border-bottom: 1px solid #18302c;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1c3733;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #1bac91;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #4ae3c6;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #34dfbf;
}

.contact-content{
  background-color: gray;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-wrap{
  background-color: #3e3d3d;
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  font-size: 16px;
}
input{
  width: 100;
  background: none;
  border: 1px solid #fff;
  color: white;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
}
input[type="button"]{
  background-color: #bac675;
  border: 0;
  cursor: pointer;
}
input[type="button"]:hover{
  background-color: #a4b15c;
}
